.colorSchemeWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.colorSchemeWrapper button {
  align-self: center;
}

.colorSchemeTitle {
  margin: 0 1rem;
  max-width: 70rem;
  width: 100%;
}

.colorScheme {
  display: flex;
  margin: 1rem 0 2rem;
}
