.button {
  background-color: #22254b;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: inherit;
  font-weight: bold;
  grid-area: button;
  justify-self: center;
  padding: 1rem 2rem;
}

.button:focus,
.button:hover {
  background-color: #353a75;
}

@media screen and (min-width: 44rem) {
  .button {
    align-self: end;
    justify-self: stretch;
  }
}
