.button {
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: inherit;
  font-weight: bold;
  grid-area: button;
  justify-self: center;
  padding: 1rem 2rem;
}

.create {
  background-color: #22254b;
}

.create:focus,
.create:hover {
  background-color: #353a75;
}

.save {
  background-color: #51b53f;
}

.save:focus,
.save:hover {
  background-color: #3e8a30;
}

.delete {
  background-color: #b53f51;
}

.delete:focus,
.delete:hover {
  background-color: #8a303e;
}

@media screen and (min-width: 44rem) {
  .button {
    align-self: end;
    justify-self: stretch;
  }
}
