.container {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    'base-color color-harmony-rule'
    'description description'
    'button button';
  grid-template-columns: 1fr 3fr;
  margin: 1rem;
}

.baseColor {
  grid-area: base-color;
}

.colorHarmonyRule {
  grid-area: color-harmony-rule;
}

.description {
  grid-area: description;
}

.button {
  grid-area: button;
}
