.container {
  display: grid;
  font-size: 0.875rem;
  gap: 1rem;
  grid-template-areas:
    'base-color color-harmony-rule'
    'description description'
    'button button';
  grid-template-columns: 1fr 3fr;
  margin: 1rem;
}

.baseColor {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-area: base-color;
}

.baseColor input {
  border-radius: 0.5rem;
  border: 1px solid #dddce3;
  height: 3rem;
  width: 100%;
}

.colorHarmonyRule {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-area: color-harmony-rule;
}

.colorHarmonyRule select {
  border-radius: 0.5rem;
  border: 1px solid #dddce3;
  font-size: inherit;
  padding: 0.875rem 1rem;
}

.description {
  grid-area: description;
  margin: 0;
}

.button {
  background-color: #22254b;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: inherit;
  font-weight: bold;
  grid-area: button;
  justify-self: center;
  padding: 1rem 2rem;
}

.button:focus,
.button:hover {
  background-color: #353a75;
}
