.container {
  display: grid;
  font-size: 0.875rem;
  gap: 1rem;
  grid-template-areas:
    'base-color color-harmony-rule'
    'description description'
    'button button';
  grid-template-columns: 1fr 3fr;
  margin: 1rem;
}

.baseColor {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-area: base-color;
}

.baseColor input {
  border-radius: 0.5rem;
  height: 3rem;
  width: 100%;
}

.colorHarmonyRule {
  grid-area: color-harmony-rule;
}

.colorHarmonyRule select {
  font-size: inherit;
}

.description {
  grid-area: description;
}

.button {
  font-size: inherit;
  grid-area: button;
}
